@use "keyframes.scss";
@use "navbar.scss";
@use "home.scss";
@use "profile.scss";
@use "utils.scss";
@use "contact.scss";
@use "prof.scss";

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 75%;
  }

  #home {
    padding: 7rem 4rem;
  }
}

@media (max-width: 768px) {
  .navigation {
    padding: 0.5rem 1rem 0.5rem 4rem;
    ul {
      display: block;
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.5;
      right: -100%;
      top: 150%;
      text-align: right;
      transition: 0.5s;
    }
  }

  #ham-menu {
    display: block;
    margin-left: -1rem;
  }

  #nav-mobile {
    position: fixed;
    display: block;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100vh;
    background-color: #150346;
    z-index: 1;
    transition: 0.5s;
  }

  .nav-mobile-active {
    right: 0 !important;
  }

  #home {
    flex-direction: column-reverse;
    height: auto;

    #home-left-side {
      text-align: center;
      #home-intro {
        font-size: 1.5rem;
      }
      p {
        margin: 10px auto;
      }

      #home-sosmed {
        a {
          img {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }

    #home-right-side {
      text-align: center;
      img {
        max-width: 12.5rem;
        max-height: 15.75rem;
      }
    }
  }

  #profile {
    padding: 4rem 1rem 5rem;
    h1 {
      margin: 1rem 0;
    }
    button {
      padding: 0.5rem 1rem;
    }
    select {
      width: 70%;
    }
    h2 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }

  #prof {
    .prof-container {
      width: 100%;
      flex-direction: column;
    }
  }

  .content-nofilter-image {
    flex-direction: column !important;
    align-items: center;
    justify-content: flex-start;
  }

  #fed-achievement-images figure,
  #wat-skill-images figure {
    margin: 1rem 0 0;
  }

  #contact-form {
    width: 90%;
  }
}
