* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0.5rem 5rem;
  background-color: #150346;
  z-index: 999;
  transition: 0.5s;

  label {
    position: absolute;
    left: 1%;
    width: 50px;
    height: 1.25rem;
    margin: 5px 0;

    p {
      font-size: 0px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        display: block;
        background-color: white;
        border-radius: 1rem;
        width: 3.125rem;
        height: 1.25rem;
        transition: 1s;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0%;
        top: 0;
        background-color: #320341;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        transition: 1s;
      }
    }

    input {
      visibility: hidden;
    }
  }
}

#ham-menu {
  display: none;
  width: 50px;
  height: 30px;
}

#nav-mobile {
  display: none;
}

.toggle-lang {
  &::before {
    background-color: #320341 !important;
  }

  &::after {
    left: 60% !important;
    background-color: white !important;
  }
}

.title {
  color: white;
  font-family: "Poppins", sans-serif;

  span {
    color: #f4f80a;
  }
}

.navigation-list {
  display: flex;
  li {
    list-style: none;
    margin: auto 1rem;

    a {
      font-family: "Ubuntu";
      font-weight: bold;
      color: white;
      text-decoration: none;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        background-color: white;
        transition: 0.5s;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.under-active {
  &::after {
    transform: scaleX(1) !important;
  }
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background-color: #04010e;
  padding: 7rem 12rem;
  color: white;

  #home-left-side {
    margin-top: 3rem;
    max-width: 580px;
    transition: 2s;

    p {
      margin: 10px 0;
    }

    #home-hello {
      font-family: "Ubuntu", sans-serif;
      font-size: 1rem;
      color: #f4f80a;
    }

    #home-intro {
      font-family: "Young Serif", sans-serif;
      font-size: 2rem;
    }

    #home-quotes {
      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;
    }

    #home-select-prof {
      width: 100%;
      height: 2rem;
      border-radius: 10px 10px 0 0;
      background-color: transparent;
      color: #fff;
      font-family: "Ubuntu", sans-serif;
      font-size: 1rem;
      font-weight: 900;
      text-align: center;

      option {
        background-color: #04010e;
      }
    }

    #home-sosmed {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      transition: 0.5s;

      a {
        img {
          &:hover {
            filter: contrast(1);
            background-color: #fff;
            border-radius: 50%;
          }
          filter: contrast(0);
          transition: 0.5s;
          width: 4.5rem;
          height: 4.5rem;
          object-position: center;
          object-fit: cover;
        }
      }
    }
  }

  #home-right-side {
    transition: 2s;

    img {
      max-width: 22.5rem;
      max-height: 18.75rem;
      border-radius: 50%;
      object-fit: cover;
      filter: contrast(1.5);
      transition: 0.5s;
    }
  }
}

.img-out {
  animation: img-out 1 1s linear;
}

@keyframes img-out {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

#profile {
  background-color: #04010e;
  padding: 4rem 4rem 5rem;
  h1 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
  }

  #container-greetings {
    position: relative;
    overflow: hidden;
    padding: 2rem;
    .animation-border-greetings {
      position: absolute;
      &:nth-child(1) {
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: span-animation1 1s linear infinite;
      }
      &:nth-child(2) {
        width: 100%;
        height: 3px;
        top: 10px;
        right: 0;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: span-animation2 1s linear infinite;
      }
      &:nth-child(3) {
        width: 3px;
        height: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: span-animation3 1s linear infinite;
        animation-delay: 0.25s;
      }
      &:nth-child(4) {
        width: 3px;
        height: 100%;
        top: 0;
        left: 10px;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: span-animation4 1s linear infinite;
        animation-delay: 0.25s;
      }
      &:nth-child(5) {
        width: 100%;
        height: 3px;
        bottom: 0;
        right: 0;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: span-animation5 1s linear infinite;
        animation-delay: 0.5s;
      }
      &:nth-child(6) {
        width: 100%;
        height: 3px;
        bottom: 10px;
        left: 0;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: span-animation6 1s linear infinite;
        animation-delay: 0.5s;
      }
      &:nth-child(7) {
        width: 3px;
        height: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: span-animation7 1s linear infinite;
        animation-delay: 0.75s;
      }
      &:nth-child(8) {
        width: 3px;
        height: 100%;
        bottom: 0;
        right: 10px;
        background: linear-gradient(0deg, transparent, #03e9f4);
        animation: span-animation8 1s linear infinite;
        animation-delay: 0.75s;
      }
    }
    h2 {
      margin: 1.5rem;
      position: relative;
      font-family: "Young Serif", sans-serif;
      color: white;
      text-align: center;
      font-style: italic;
    }
    article {
      color: white;
      font-family: "Poppins", sans-serif;
    }
  }

  select {
    display: block;
    margin: 1rem auto;
    font-family: "Young Serif", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    background-color: transparent;
    color: white;
    width: 30%;
    border: 4px double white;
    border-radius: 1rem;

    option {
      background-color: #150346;
      color: white;
    }
  }
}

.opacity-salam {
  opacity: 0.5;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  width: 10px;
  font-size: 24px;
  animation: typing 4.5s steps(40) infinite;
}

.hide {
  opacity: 0 !important;
}

.hide-prof {
  opacity: 0 !important;
}

.show {
  opacity: 1;
}

.home-button-container {
  text-align: center;
}
.button {
  position: relative;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  margin: 0 auto;
  border: none;
  overflow: hidden;
  color: white;
  background: transparent;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  transition: 0.5s;

  &:hover {
    transform: scale(1.2);
    background-color: aqua;
    box-shadow: 0 0 5px #81e2f3, 0 0 25px #81e2f3, 0 0 50px #81e2f3, 0 0 75px #81e2f3, 0 0 100px #81e2f3;
  }
  span {
    position: absolute;
    &:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 3px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-animation1 1s linear infinite;
    }
    &:nth-child(2) {
      top: -100%;
      right: 0;
      width: 3px;
      height: 100%;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-animation2 1s linear infinite;
      animation-delay: 0.25s;
    }
    &:nth-child(3) {
      position: absolute;
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 3px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-animation3 1s linear infinite;
      animation-delay: 0.5s;
    }
    &:nth-child(4) {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 3px;
      height: 100%;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-animation4 1s linear infinite;
      animation-delay: 0.75s;
    }
  }
}

#prof {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 1rem;
  background-color: #04010e;

  h1 {
    text-align: center;
    font-family: "Young Serif", sans-serif;
    color: white;
    transform-origin: left;
    transition: 0.5s;

    span {
      color: #f4f80a;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #f4f80a;
      }
    }
  }
}

.prof-animation {
  animation: opacity 1s 1 linear;
}

.prof-detail {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 10%;
  width: 70%;
  max-height: 500px;
  overflow-y: scroll;
  padding: 2rem;
  border-radius: 1rem;
  border: 8px double white;
  background-color: #150346;
  transition: 1s;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    margin: 1rem 0;
    width: 50%;
  }

  article {
    font-family: "Poppins", sans-serif;
    text-align: justify;
  }

  button {
    position: relative;
    font-family: "Young Serif", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: white;
    background-color: transparent;
    border-radius: 1rem;
    border: 4px solid white;
    cursor: pointer;
    margin: 0.5rem 1rem;
    padding: 0.7rem 3rem;
    transition: 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: white;
      border-radius: 1rem;
      z-index: -1;
      transition: 0.5s;
    }

    &:hover {
      color: black;
      border: none;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.prof-detail-active {
  opacity: 1 !important;
  visibility: visible !important;
}

.prof-container {
  position: relative;
  color: white;
  text-align: center;
  margin: 2rem auto 1rem;
  width: 60%;
  height: 50%;
  overflow: hidden;

  .prof-next-container,
  .prof-prev-container {
    user-select: none;
    cursor: pointer;
    position: absolute;
    font-size: 4rem;
  }

  .prof-next-container {
    right: 0;
  }

  .prof-prev-container {
    left: 0;
  }

  h2 {
    font-family: "Ubuntu", sans-serif;
    text-decoration: overline underline;
    text-align: center;
    width: 100%;
  }

  .prof-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    padding: 2rem;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;

    figure {
      width: calc(100% / 4);
      height: auto;
      margin: 1rem;
      &:hover > figcaption {
        transform: translateY(0);
        opacity: 1;
      }

      &:hover > img {
        filter: contrast(1);
      }

      figcaption {
        user-select: none;
        font-family: "Young Serif", sans-serif;
        font-weight: 900;
        transition: 0.5s;
        transform: translateY(-500%);
        opacity: 0;
      }

      img {
        filter: contrast(0);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: 0.5s;
        object-fit: contain;
      }
    }
  }

  .content-nofilter-image {
    figure {
      &:hover > img {
        filter: brightness(20%) !important;
      }

      img {
        width: 10rem !important;
        height: 10rem !important;
        object-fit: cover !important;
        filter: none !important;
        cursor: pointer;
      }
    }
  }
}

#fed-achievement-images,
#wat-skill-images {
  justify-content: space-around;
  figure {
    margin: 2.5rem 1rem;
    img {
      object-fit: cover;
    }
  }
}

.ct-contact {
  color: white;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  transition: 1s;

  &:hover p:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover p:nth-child(1) {
    transform: translateY(50%);
    animation: none;
  }

  p {
    &:nth-child(1) {
      font-size: 3rem;
      transform: translateY(100%);
      transition: 1s;
    }

    &:nth-child(2) {
      opacity: 0;
      transition: 1s;
      font-size: 2rem;
      transform: translateY(100%);
    }
  }
}

.figures-animation1 {
  animation: figure-animation1 1s 1 ease-in-out;
}

.span-animation {
  &::after {
    animation: span-animation 2s infinite linear;
  }
}

.subheading-animation1 {
  animation: subheading-animation1 2s 1 ease-in-out;
}

.prof-content-next-hide {
  transform: translateX(-100%) !important;
}

.prof-content-next-show {
  animation: prof-content-next-show 0.5s 1 ease-in-out;
}

.slide-right-to-left-in {
  animation: slide-right-to-left-in 1s 1 ease-in-out;
}

@keyframes prof-content-next-show {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.prof-content-prev-hide {
  transform: translateX(100%) !important;
}

.prof-content-prev-show {
  animation: prof-content-prev-show 0.5s 1 ease-in-out;
}

#contact {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 1rem;
  background-color: #04010e;

  h1 {
    font-family: "Young Serif", sans-serif;
    text-align: center;
    color: white;
  }
}

#contact-form {
  display: block;
  margin: 4rem auto;
  width: 50%;

  h2 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    margin: 1rem;
    user-select: none;
    font-size: 1rem;
  }

  label {
    display: block;
    color: white;
    text-align: center;
    font-family: "Young Serif", sans-serif;

    input,
    textarea {
      position: relative;
      margin: 1rem auto;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-weight: bold;
      display: block;
      width: 100%;
      height: 3rem;
    }

    textarea {
      height: 100px;
    }
  }

  button {
    display: block;
    margin: 1rem auto;
    padding: 1rem 3rem;
    background-color: transparent;
    color: white;
    font-family: "Young Serif", sans-serif;
    font-weight: 900;
    font-size: 1.1rem;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 1rem;
    transition: 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@keyframes up-down {
  from {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(90%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes prof-content-prev-show {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right-to-left-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500%);
  }
}

@keyframes slide-right-to-left-in {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes figure-animation1 {
  from {
    transform: translateY(-500%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes span-animation {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes opacity {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes subheading-animation1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes btn-animation1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-animation2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-animation3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-animation4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes span-animation1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes span-animation2 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes span-animation3 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes span-animation4 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes span-animation5 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes span-animation6 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes span-animation7 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes span-animation8 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 75%;
  }

  #home {
    padding: 7rem 4rem;
  }
}

@media (max-width: 768px) {
  .navigation {
    padding: 0.5rem 1rem 0.5rem 4rem;
    ul {
      display: block;
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.5;
      right: -100%;
      top: 150%;
      text-align: right;
      transition: 0.5s;
    }
  }

  #ham-menu {
    display: block;
    margin-left: -1rem;
  }

  #nav-mobile {
    position: fixed;
    display: block;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100vh;
    background-color: #150346;
    z-index: 1;
    transition: 0.5s;
  }

  .nav-mobile-active {
    right: 0 !important;
  }

  #home {
    flex-direction: column-reverse;
    height: auto !important;

    #home-left-side {
      text-align: center;
      p {
        margin: 10px auto;
      }

      #home-sosmed {
        a {
          img {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }

    #home-right-side {
      text-align: center;
      img {
        max-width: 12.5rem;
        max-height: 15.75rem;
      }
    }
  }

  #profile {
    select {
      width: 70%;
    }
  }

  #prof {
    h1 {
    }
    .prof-container {
      width: 100%;
    }
  }

  #contact-form {
    width: 90%;
  }
}
